<%- include('partials/header') %>

<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, corrupti inventore labore voluptatum doloremque sapiente sunt quaerat, exercitationem sint ipsum quis eum dolores ab a pariatur consequuntur iste ratione in, quas reiciendis id vel odit nam. Voluptatem eum adipisci pariatur quibusdam cum beatae sed, odit sunt saepe sint aperiam molestias deleniti quaerat tenetur quos eos rem recusandae sapiente nihil, esse itaque placeat! Animi voluptas hic, ex fuga dolor nesciunt illum sint optio quisquam? Similique itaque nobis molestias veniam error praesentium debitis eaque sint ipsam nesciunt quis ullam distinctio aperiam quas, sunt doloribus exercitationem nam minima. At veniam soluta id nemo.</p>

<%- include('partials/footer') %>