<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width: 900px;">
            <div class="card-header">
                <img class="card-img-top mx-auto m-2px rounded-circle" src="/img/JavaScript-logo.png" alt="logo" style="width: 150px; height: 150px; display:block;">
                <h3 class="text-upercase text-center p-4">Crud con nodejs y mysql</h3>
            </div>
            <div class="card-nody text-center">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati similique, repudiandae quasi aut deleniti beatae distinctio minus, optio enim molestias vero, cupiditate modi rerum libero.</p>
                <a href="/add" class="btn btn-primary">Crear una persona</a>
            </div>
        </div>
    </div>
</main>